.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.475rem 2rem;
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: $main;
    color: #fff;
    transition: background-color 0.2s;
    cursor: pointer;
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #fff;
    }
    &--main {
        background-color: $main;
        color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
            background-color: darken($main, 10%);
        }
    }
}
