// Core
@import 'base/bootstrap';
@import 'base/variables';
@import 'base/buttons';


// Elements
@import 'elements/layout'; // general & global classes
@import 'elements/header';
@import 'elements/footer';

// Pages


.tile {
    background-color: rgba(196, 196, 196, 1);
    color: white;
    padding: 30px;
    
    h1 {
        font-family: 'Times New Roman', sans-serif;
        font-style: italic;
        font-size: 46px;
        margin-bottom: 10px;
    }

    p {
        text-transform: uppercase;
        font-size: 18px;
    }

    

}

.square {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: green;
    position: relative;

    &__empty {
        display: inline-block;
        margin: 5px;
        width: 40px;
        height: 40px;
        border: 10px solid green;
    }

}

.empty_circle {
    @extend .square;
    border-radius: 50%;
}
