.header{
    background-color: black;
    padding: 10px;
    a{
        font-family: Arial, Helvetica, sans-serif;
        font-size:12px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        padding-right: 5px;
        &.button{
            background: green;
            color: black;
            display: inline-block;
            padding: 5px 20px;
            border-radius: 50px;
        }
    }
}
