<div class="header">
    <div class="container">
        
        <a href="start">start</a>
        <a href="o mnie">o mnie</a>
        <a href="kontakt">kontakt</a>
        <a href="start" class="button">zobacz sklep</a>
    </div>
</div>